.row{
  width: 100%;
}
.content{
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

/*Font sizes*/
h1{
    font-size: 32px;
    font-family: Rubik, sans-serif;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 12px;
}
h6{
    font-size: 11px;
}
p{
  font-size: 16px;
}

/*Font styling*/
a{
  text-decoration: none;
  color: #0a0c0d;
}
nav a{
  color: #0a0c0d;
  padding: 25px 40px;
}
nav a:hover{
  background: #548ba3;
  color: #fafdff;
}
.white{
  color: #fafdff;
}
.hover:hover{
    color: #548ba3;
}


/*Flex*/
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.space{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.center-center{
    justify-content: center;
    align-items: center;
}
.center{
    align-items: center;
}
.middle{
    justify-content: center;
}
.right{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.justify{
    justify-content: space-between;
    align-items: center;
}

/*Margin/padding*/
.margin-tb-50{
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-tb-20{
  margin: 20px 0px;
}
.margin-t-20{
  margin-top: 20px;
}
.margin-t-5{
  margin-top: 5px;
}
.margin-b-50{
  margin-bottom: 50px;
}
.padding-tb-20{
  padding: 20px 0px;
}


/*BG-Color*/
.black{
  background-color: #548ba3;
}

/*General*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: open sans, sans-serif;
  background: #fafdff;
  color: #0a0c0d;
  overflow-y: scroll;
}
main{
  flex: 1;
}

header{
  height: 72px;
}
nav ul{
  display: flex;
}

footer{
    height: 40px;
}

@media screen and (max-width: 650px) {
    .content{
        max-width: 650px;
    }
    header div{
        flex-direction: column;
    }
    header{
        margin-bottom: 20px;
    }
    nav a:hover{
        padding: 10px 40px;
    }
    main div .margin-tb-50{
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin-top: 20px;
    }
}
@media screen and (max-width: 560px) {
    nav ul{
        flex-direction: column;
        margin-top: 10px;
    }
    nav ul li{
        padding: 2px;
    }
    header{
        margin-bottom: 80px;
    }
    nav a{
        padding: 0px;
    }
    nav a:hover{
        padding: 0px;
    }
}
