form{
    width: 400px;
}
input[type=email], input[type=text]{
    width: 320px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #0a0c0d;
    padding: 0px 5px;
}
textarea{
    width: 378px;
    height: 201px;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #0a0c0d;
}
input[type=submit]{
    padding: 10px 50px;
    font-size: 16px;
    color: #fafdff;
    background: #0a0c0d;
    border: 0px;
}
input[type=submit]:hover{
    background: #548ba3;
    color: #fafdff;
    cursor: pointer;
}
h4{
    line-height: 150%;
}
iframe{
    width: 500px;
    height: 375px;
}
label{
    font-size: 20px;
}
@media screen and (max-width: 900px) {
    div .indhold{
        align-items: center;
        flex-direction: column;
    }
    iframe{
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px) {
    iframe{
        width: 400px;
    }
}
@media screen and (max-width: 400px) {
    iframe{
        width: 300px;
    }
    form{
        width: 300px;
    }
    input[type=email], input[type=text]{
        width: 220px;
    }
    textarea{
        width: 278px;
    }
}
@media screen and (max-width: 300px) {
    iframe{
        width: 250px;
    }
    form{
        width: 250px;
    }
    input[type=email], input[type=text]{
        width: 170px;
    }
    textarea{
        width: 228px;
    }
}
