.nav{
  width: 400px;
}
.produkt{
  max-width: 300px;
  max-height: 200px;
}
.box{
  width: 300px;
}
p{
  line-height: 150%;
}
@media screen and (max-width: 600px) {
    .box{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 360px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav li{
        padding: 2px;
    }
}
